.logo{
    width: 68%;
}

.carousel-control-prev, .carousel-control-next{
    width: 50px;
}

.slider-control{
    background: rgba(131, 130, 130, 0.1);
    padding-bottom: 2.5px;
    padding-left: 6px;
    padding-right: 9px;
    padding-top: 7px;
    border: 1px;
    border-radius: 50%;
}
.right{
    padding-left: 9px;
    padding-right: 6px;
}

.carousel-indicators button.active{
    background-image: linear-gradient(to left, orange 0%, yellow 100%, orange 0%);
    height: 9px;
    width: 28px;
    transition: width 0.5s;
}

.carousel-indicators .indicator-btn{
    height: 9px;
    width: 14px;
    background-image: linear-gradient(to right, rgb(209, 209, 209) 0%, rgb(44, 44, 44) 100%, rgb(209, 209, 209) 0%);
    border: #ffffff 1px;
    border-radius: 20px;
    margin-top: 50px;
}

.container{
    margin-bottom: 80px;
}
.nav-container{
    margin-bottom: 20px;
}

.background{
    background-color: rgb(255, 255, 255, 0.4);
    border-radius: 8px;
    height: 550px;
}

.top{
    background-image: url("hot-gadgets/bg-2.png");
    background-repeat: no-repeat;
    background-position-y: 480px;
}


.carousel-item{
    padding: 20px 20px;
}
.carousel-text{
    padding-left: 0px;
    margin-left: 0px;
}

.price{
    color: #020202;
    margin-bottom: 20px;
}


.buy-now{
    background-color: #222222;
    color: rgb(0, 255, 191);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    text-shadow: 0 0 0.4em rgb(0, 0, 0), 0 0 0.8em currentColor;
    border: currentColor 3px solid;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
    box-shadow: /*inset 0 0 5px 0.025em currentColor,*/ 0 0 5px 0.025em currentColor;
    transition:  text-shadow 0.4s linear, background-color 0.4s linear;
}

.buy-now:hover{
    background-color: rgb(221, 255, 239);
    text-shadow: none;
}


.buy-now-top span{
    display: none;
}
.buy-now-top:after{
    content: "BUY NOW ➥";
}


@media only screen and (max-width: 1000px) {
    .background{
        height: 480px;
    }
    .top{
        background: white;
    }
  }

@media only screen and (max-width: 799px) {
    .background{
        height: 650px;
    }
    .top{
        background: white;
    }
    .banner-mid{
      width: 80px;
      height: 10px;
    }
    .banner-mid img{
        transform: rotate(90deg);
    }
    .price{
        display: inline;
    }
    .buy-now-top{
        display: flex;
        float: right;
    }
    .buy-now-top:after{
            content: "BUY NOW ↓";
        }
  }


  .card-title-top{
    margin-bottom: 15px;
  }
  .card-title-top a{
    text-decoration: none;
    font-weight: 600;
    color: orange;
  }



 .card{
    text-align: center;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
 }
 .card .card-body{
    padding-bottom: 10px;
 }
 .card img{
    padding: 20px 0;
    width: 60%;
  }
  .card h5{
    font-weight: 600;
  }

  .card .card-footer{
    background-color: #ffffff;
    border: none;
  }
  .card .card-footer h3{
    font-weight: 600;
    color: rgb(28, 41, 44);
    margin-bottom: 15px;
  }

  .card .card-footer .last-update{
    margin-top: 10px;
  }


  .bottom-cards{
    height: 280px;
    padding: 10px;
  }
  .bottom-cards img{
    margin: auto;
    width: 40%;
  }

  .bottom-cards-left{
    border-radius: 0 40px 0 40px;
  }

  .bottom-cards-mid{
    border-radius: 40px 0 40px 0;
  }


.footer-container{
    margin-bottom: 0;
}
  footer{
    position: relative;
    width: 100%;
    background: #00ffbf;
    min-height: 80px; 
    padding-bottom: 20px;
    display: flexbox;
    justify-content: center;
    align-items: center;
}

footer .social-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    padding: 0;
    flex-wrap: wrap;
}

footer .social-icon li {
    list-style: none;
}

footer .social-icon li a {
    font-size: 2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    color: white;
}

footer .social-icon li:hover {
    transform: translateY(-10px);
}

footer p{
    padding: 0;
    text-align: center;
    color: white;
}

.mail{
    height: 600px;
}

.text{
    display: block;
}


/*Waves*/

footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(hot-gadgets/wave3.png);
    background-size: 1060px 100px;
}

footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animatewave 5s linear infinite;
}

footer .wave#wave2{
    z-index: 900;
    opacity: 0.45;
    bottom: 10px;
    animation: animatewave 4s linear infinite;
}

footer .wave#wave3{
    z-index: 800;
    opacity: 0.3;
    bottom: 15px;
    animation: animatewave2 3s linear infinite;
}

footer .wave#wave4{
    z-index: 700;
    opacity: 0.7;
    bottom: 20px;
    animation: animatewave2 5s linear infinite;
}

@keyframes animatewave {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-position-x: 0px;
    }
}

@keyframes animatewave2 {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }
}
